.reslut-card{
    display: flex;
    margin-bottom: 20px;

}
.poster-wraper img, .filler-poster{
    width: 75px;
    height: 113px;
    background-color: #dbadad;
    border-radius: 5px;
    margin-right: 15px;
    display: block;
    color: transparent;
}
.controls {
    margin-top: 50px;
}
.controls button{
margin-right: 20px;
}